[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
aerich = "*"
asyncpg = "*"
email-validator = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
pytest-flake8 = "*"
flake8-quotes = "*"
flake8-commas = "*"
flake8-import-order = "*"
flake8-builtins = "*"
flake8-multiline-containers = "*"
flake8-print = "*"
flake8 = "==4.0.*"

[requires]
python_version = "3.9"
